<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.TbTeacherMapper">
	<resultMap id="teacherResultMap" type="com.taotao.pojo.TbTeacher">
		<id property="teacherID" column="TEACHER_ID" />
		<result property="teacherName" column="TEACHER_NAME" />
		<result property="teacherSex" column="TEACHER_SEX" />
		<result property="teacherBirthday" column="TEACHER_BIRTHDAY" />
		<result property="workDate" column="WORK_DATE" />
		<result property="professional" column="PROFESSIONAL" />
	</resultMap>

	<select id="getTeacher" parameterType="String" resultMap="teacherResultMap">
		SELECT *
		FROM tb_teacher t
		WHERE t.TEACHER_ID = #{teacherID}
	</select>

</mapper>
